@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.container {
    display: flex;
    color: black;
    
    min-height: 80px;
    max-height: 90px ;
}

.position_image{
   justify-content: start;
   align-items: center;
   margin-left: 4rem;
}

.image{
    height: 75px;
    width: 75px;
}
.container_logo{
   margin: auto ;
}

.logo{
    font-family: Ubuntu;
    font-size: 2rem;
    font-weight: 500px;
    color: black;
    
}

.navegacao {
    margin-right: 3rem;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    list-style: none;
}

.navegacao li{
  
    margin-right: 2rem;
}

.link{
    color: black;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 13px 17px   ;
    border-radius: 30px;
}

.link:hover{
 background-color: black;
 color:#fff;

}

.linkhome{
    color: #fff;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 13px 17px   ;
    background-color: black;
    border-radius: 80px;
}